body {
    background: linear-gradient(62deg,#66ccff, #003399);
    margin-bottom: 50px;
}
        
nav {
    background-color: #444;
    padding-left: 2%;
    padding-right: 2%;
}

.input-field label {
    color: #444;
}

#form-submit {
    color: white;
    font-weight: bold;
    background: linear-gradient(rgba(0, 0, 204, 0.9) 30%, rgba(120, 120, 250, 0.8));
    /* background-color: #0000cc; */
    margin: auto;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 5%;
}
#linkbtn {
    color: white;
    font-weight: bold;
    /* background-color: #11dfcd; */
    background: linear-gradient(rgba(41, 169, 192, 0.9) 30%, rgba(81, 209, 242, 0.8));
    margin: auto;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 15%;
}
#linkbtn2 {
    color: white;
    font-weight: bold;
    /* background-color: #11dfcd; */
    background: linear-gradient(rgba(41, 169, 192, 0.9) 30%, rgba(81, 209, 242, 0.8));
    margin: auto;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 5%;
}

#form-card {
    background: rgba(0, 0, 0, 0.2);
    padding: 1%;
    margin-top: 2%;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #444;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    clear: both;
}