body {
    background: linear-gradient(62deg,#66ccff, #003399);
    margin-bottom: 50px;
}

nav {
    background-color: #444;
    padding-left: 2%;
    padding-right: 2%;
}

#form-submit {
    color: white;
    background-color: #0000cc;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #444;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    clear: both;
}