html {
    height: 100%;
}
body {
    background-image: url(../images/background.png);
    background-size: cover;
    height: 100%;
}

.jumbotron {
    color: white;
    background-color: navy;
    text-align: center;
}

.my-4 {
    border: 1px solid gray;
}

<<<<<<< HEAD
=======
/*.non-jumbo {
    background-image: url(../images/background.png);
    width: 100%;
    height: 100%;
}*/

>>>>>>> 54d523068e0cd12998ab236cbe7a9555d77719d3
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
<<<<<<< HEAD

.card {
    text-align: center;
}
=======
.card {
    text-align: center;
}
>>>>>>> 54d523068e0cd12998ab236cbe7a9555d77719d3
